apps:
  - name:   app
    script: app.py
    watch:  true
    env: &env
      app_host:     192.168.1.0
      app_port:     5000
      database_url: sqlite:///case.db

      qbittorrent_host:   127.0.0.1
      qbittorrent_port:   8080
      qbittorrent_user:   admin
      qbittorrent_passwd: admin

  - name:     worker
    script:   worker.py
    watch:  true
    env:
      <<: *env
